
.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

form{
  text-align: left;
}
/* Style the image inside the centered container, if needed */
.centered img {
  width: 700px;
  height: 100%;
}

.centered button{
  border-radius: 6px;
}
.button1{
  background-color: #F8DC5F;
  padding: 5px 40px;
}
.button2{
  background-color: #111111;
  color: #eeeeee;
  padding: 5px 30px;
}
.textu{
  width: 500px;
  height: 20px;
  text-align:justify;
}
.textp{
  width: 500px;
  height: 20px;
  text-align:justify;
}

h1{

  font-size:  40px;

}
label{
  text-align: left;

}
